[user]
  name = Hayato Mizushima
  email = hayato-m126@users.noreply.github.com
[url "git@github.com:"]
  insteadOf = https://github.com/
[ghq]
  #root = ~/ros_ws/gsm8.iv/src
  root = ~/ros_ws/gsm8/src
  root = ~/ros_ws/auto_converter/src
  root = ~/ghq
