[user]
  name = Hayato Mizushima
  email = hayato-m126@users.noreply.github.com
[url "git@github.com:"]
  insteadOf = https://github.com/
[ghq]
  root = ~/ros_ws/awf/src
  root = ~/ros_ws/aw_msg/src
  root = ~/ros_ws/x1/src
  root = ~/ros_ws/xx1/src
  root = ~/ros_ws/x2/src
  root = ~/ros_ws/x2.gsm8/src
  root = ~/ghq
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultbranch = main
