[user]
  name = Hayato Mizushima
  email = hayato-m126@users.noreply.github.com
[url "git@github.com:"]
  insteadOf = https://github.com/
[ghq]
  root = ~/AutowareArchitectureProposal.proj/src
  root = ~/ghq
